<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="AppConfiguration" type="SystemFrameworks.Configuration,SystemFrameworks"/>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="TermsProviders">
			<sectionGroup name="Product">
				<section name="AirProduct" type="TERMS.Business.Centers.ProductCenter.Search.AirProductProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="HotelProduct" type="TERMS.Business.Centers.ProductCenter.Search.HotelProductProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="PackageProduct" type="TERMS.Business.Centers.ProductCenter.Search.PackageProductSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="InsuranceProduct" type="TERMS.Business.Centers.ProductCenter.Search.InsuranceProductSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="TourProduct" type="TERMS.Business.Centers.ProductCenter.Search.TourProductSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="TransferProduct" type="TERMS.Business.Centers.ProductCenter.Search.TransferProductSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="SightSeeingProduct" type="TERMS.Business.Centers.ProductCenter.Search.SightSeeingProductSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="VehcileProduct" type="TERMS.Business.Centers.ProductCenter.Search.VehcileProductSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication"   restartOnExternalChanges="true" />
			</sectionGroup>
			<sectionGroup name="Contract">
				<section name="AirContract" type="TERMS.Business.Centers.ContractCenter.Search.AirContractSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="HotelContract" type="TERMS.Business.Centers.ContractCenter.Search.HotelContractSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="InsuranceContract" type="TERMS.Business.Centers.ContractCenter.Search.InsuranceContractSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="TransferContract" type="TERMS.Business.Centers.ContractCenter.Search.TransferContractSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="SightSeeingContract" type="TERMS.Business.Centers.ContractCenter.Search.SightSeeingContractSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
				<section name="VehcileContract" type="TERMS.Business.Centers.ContractCenter.Search.VehcileContractSearcherProviderSection, TermsLibrary" allowDefinition="MachineToApplication"   restartOnExternalChanges="true" />
			</sectionGroup>
			<sectionGroup name="Base">
				<section name="Base" type="TERMS.Common.BaseProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
			</sectionGroup>
			<sectionGroup name="Common">
				<section name="Common" type="TERMS.Common.CommonProviderSection, TermsLibrary" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Terms.Contract.Business_0407.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Terms.Material.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Terms.Sales.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="TurbottAuthorization" type="TurboTT.Security.AuthorizationProviderSection,TurboTT.Security" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="TurbottDataAuthorization" type="TurboTT.Security.AuthorizationProviderSection,TurboTT.Security" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<!--<connectionStrings>
    <add name="TERMS_BUSS_DEMOConnectionString1" connectionString="Data Source=SERVER161;Initial Catalog=TERMS_BUSS_DEMO;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
	<connectionStrings>
		<add name="Authorization" connectionString="Integrated Security=false; Data Source=SERVER161\SERVER161_TEST;Database=TERMS_SECURITY_mv;User ID=sa;Password=Ceoaaa45;"/>
		<add name="DataAuthorization" connectionString="data source=BEN;Integrated Security=SSPI;Initial Catalog=app1db"/>
	</connectionStrings>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
				<arg key="configType" value="FILE-WATCH"/>
				<arg key="configFile" value="~/Config/Log4Net.xml"/>
			</factoryAdapter>
		</logging>
	</common>
	<spring>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
		</parsers>
		<context>
			<resource uri="~/Config/Web.xml"/>
			<resource uri="~/Config/DbProvider.xml"/>
			<resource uri="~/Config/Aspects.xml"/>
			<resource uri="~/Config/Base/BaseDao.xml"/>
			<resource uri="~/Config/Base/BaseServices.xml"/>
			<resource uri="~/Config/Common/CommonDao.xml"/>
			<resource uri="~/Config/Common/CommonServices.xml"/>
			<resource uri="~/Config/ProductNew/ProductDao.xml"/>
			<resource uri="~/Config/ProductNew/ProductServices.xml"/>
			<resource uri="~/Config/IncentiveTour/IncentiveTourWeb.xml"/>
			<resource uri="~/Config/GlobalService.xml"/>
			<resource uri="~/Config/MaterialServices.xml"/>
			<resource uri="~/Config/Sales/SalesBusiness.xml"/>
			<resource uri="~/Config/SalesCommonWeb.xml"/>
			<resource uri="~/Config/SessionFactory.xml"/>
			<resource uri="~/Config/Contract_0407/ContractPageDao.xml"/>
			<resource uri="~/Config/Contract_0407/ContractPageServices.xml"/>
			<resource uri="~/Config/Contract_0407/ContractTemplate0407.xml"/>
			<resource uri="~/Config/Contract_0407/RegionDetailDao.xml"/>
			<resource uri="~/Config/Contract_0407/RegionDetailServices.xml"/>
			<resource uri="~/Config/Contract_0407/RegionMasterDao.xml"/>
			<resource uri="~/Config/Contract_0407/RegionMasterServices.xml"/>
			<resource uri="~/Config/Security/SecurityDao.xml"/>
			<resource uri="~/Config/Security/SecurityServices.xml"/>
			<resource uri="~/Config/Contract_0407/VendorDao.xml"/>
			<resource uri="~/Config/Contract_0407/VendorServices.xml"/>
			<resource uri="~/Config/SalesCommonWeb.xml"/>
			<resource uri="~/Config/SalesServices.xml"/>
			<resource uri="~/Config/SalesDao.xml"/>
			<resource uri="~/Config/Additional/AdditionalDao.xml"/>
			<resource uri="~/Config/Additional/AdditionalServices.xml"/>
			<resource uri="~/Config/AdditionalWeb.xml"/>
			<resource uri="~/Config/Member/MemberServices.xml"/>
			<resource uri="~/Config/Member/MemberDao.xml"/>
			<resource uri="~/Config/ECModule/ConfigurationDao.xml"/>
			<resource uri="~/Config/ECModule/ConfigurationServices.xml"/>
			<resource uri="~/Config/Hotel/SalesHotelWeb.xml"/>
			<resource uri="~/Config/UserControlWeb/UserControlWeb.xml"/>
			<resource uri="~/Config/Flight/SalesFlightWeb.xml"/>
			<resource uri="~/Config/Vehcile/VehcileWeb.xml"/>
			<!--<resource uri="~/Config/DeclarativeServicesAttributeDriven.xml"/>-->
		</context>
	</spring>
	<!-- These properties are referenced in Dao.xml -->
	<databaseSettings>
		<!--<add key="db.datasource" value="192.168.100.160,2433\Terms;Integrated Security=false"/>
	  <add key="db.user" value="terms"/>
	  <add key="db.password" value="terms"/>
	  <add key="db.database" value="Terms"/>-->
		<add key="db.datasource" value="SERVER161\SERVER161_TEST;Integrated Security=false"/>
		<add key="db.user" value="sa"/>
		<add key="db.password" value="Ceoaaa45"/>
		<add key="db.database" value="MVTEST_TERMS_BUSS"/>
	</databaseSettings>
	<TermsProviders>
		<Product>
			<AirProduct defaultProvider="MyAirProductProvider">
				<providers>
					<add name="MyAirProductProvider" type="Terms.Product.Business.NormalAirProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</AirProduct>
			<HotelProduct defaultProvider="MyHotelProductProvider">
				<providers>
					<add name="MyHotelProductProvider" type="Terms.Product.Business.NormalHotelProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</HotelProduct>
			<PackageProduct defaultProvider="MyPackageProductProvider">
				<providers>
					<add name="MyPackageProductProvider" type="Terms.Product.Business.NormalPackageProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</PackageProduct>
			<InsuranceProduct defaultProvider="MyInsuranceProductProvider">
				<providers>
					<add name="MyInsuranceProductProvider" type="Terms.Product.Business.NormalInsuranceProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</InsuranceProduct>
			<TourProduct defaultProvider="MyTourProductProvider">
				<providers>
					<add name="MyTourProductProvider" type="Terms.Product.Business.NormalTourProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</TourProduct>
			<TransferProduct defaultProvider="MyTransferProductProvider">
				<providers>
					<add name="MyTransferProductProvider" type="Terms.Product.Business.NormalTransferProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</TransferProduct>
			<SightSeeingProduct defaultProvider="MySightSeeingProductProvider">
				<providers>
					<add name="MySightSeeingProductProvider" type="Terms.Product.Business.NormalSightSeeingProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</SightSeeingProduct>
			<VehcileProduct defaultProvider="MyVehcileProductProvider">
				<providers>
					<add name="MyVehcileProductProvider" type="Terms.Product.Business.NormalVehcileProductSearcherProvider, Terms.Product.Business"/>
				</providers>
			</VehcileProduct>
		</Product>
		<Contract>
			<AirContract defaultProvider="MyAirContractProvider">
				<providers>
					<add name="MyAirContractProvider" type="Terms.Contract.Business_0407.NormalAirContractSearcherProvider, Terms.Contract.Business_0407"/>
				</providers>
			</AirContract>
			<HotelContract defaultProvider="MyHotelContractProvider">
				<providers>
					<add name="MyHotelContractProvider" type="Terms.Contract.Business_0407.NormalHotelContractSearcherProvider, Terms.Contract.Business_0407"/>
				</providers>
			</HotelContract>
			<InsuranceContract defaultProvider="MyInsuranceContractProvider">
				<providers>
					<add name="MyInsuranceContractProvider" type="Terms.Contract.Business_0407.NormalInsuranceContractSearcherProvider, Terms.Contract.Business_0407"/>
				</providers>
			</InsuranceContract>
			<TransferContract defaultProvider="MyTransferContractProvider">
				<providers>
					<add name="MyTransferContractProvider" type="Terms.Contract.Business_0407.NormalTransferContractSearcherProvider, Terms.Contract.Business_0407"/>
				</providers>
			</TransferContract>
			<SightSeeingContract defaultProvider="MySightSeeingContractProvider">
				<providers>
					<add name="MySightSeeingContractProvider" type="Terms.Contract.Business_0407.NormalSightSeeingContractSearcherProvider, Terms.Contract.Business_0407"/>
				</providers>
			</SightSeeingContract>
			<VehcileContract defaultProvider="MyVehcileContractProvider">
				<providers>
					<add name="MyVehcileContractProvider" type="Terms.Contract.Business_0407.NormalVehcileContractSearcherProvider, Terms.Contract.Business_0407"/>
				</providers>
			</VehcileContract>
		</Contract>
		<Common>
			<Common defaultProvider="MyCommonProvider">
				<providers>
					<add name="MyCommonProvider" type="Terms.Common.Business.NormalCommonProvider, Terms.Common.Business"/>
				</providers>
			</Common>
		</Common>
		<Base>
			<Base defaultProvider="MyBaseProvider">
				<providers>
					<add name="MyBaseProvider" type="Terms.Base.Business.NormalBaseProvider, Terms.Base.Business"/>
				</providers>
			</Base>
		</Base>
	</TermsProviders>
	<TurbottAuthorization defaultProvider="SqlProvider">
		<providers>
			<add name="SqlProvider" type="TurboTT.Security.SqlAuthorizationProvider,TurboTT.Security" connectionStringName="Authorization" applicationCode="255e9121-f3e7-4a23-a419-ff96a0abd98c"/>
		</providers>
	</TurbottAuthorization>
	<TurbottDataAuthorization defaultProvider="SqlProvider">
		<providers>
			<add name="SqlProvider" type="TurboTT.Security.DataSqlAuthorizationProvider,TurboTT.Security" connectionStringName="DataAuthorization" applicationCode="255e9121-f3e7-4a23-a419-ff96a0abd98c"/>
		</providers>
	</TurbottDataAuthorization>

	<applicationSettings>
		<Terms.Contract.Business_0407.Properties.Settings>
			<setting name="Terms_Contract_Business_0407_GTA_GTA" serializeAs="String">
				<value>http://208.109.243.30:12002/gta.asmx</value>
			</setting>
			<setting name="Terms_Contract_Business_0407_ENAHotel_EanWS" serializeAs="String">
				<value>http://208.109.243.30:12001/eanws.asmx</value>
			</setting>
			<setting name="Terms_Contract_Business_0407_AIG_InsuranceWS" serializeAs="String">
				<value>http://insurancews.majestic-vacations.com/InsuranceWS.asmx</value>
			</setting>
			<setting name="Terms_Contract_Business_0407_Vehcile_CarRental" serializeAs="String">
				<value>http://72.167.39.35/CarSearchEngine/CarRental.asmx</value>
			</setting>
			<setting name="Terms_Contract_Business_0407_B2B_B2BWebService"
					  serializeAs="String">
				<value>http://search.api.turbott.com/WS4GTTV1/B2BWebService.asmx</value>
			</setting>
			<!-- Wspan & Sabre WS-->
			<setting name="Terms_Contract_Business_0407_GTT_BookingWS" serializeAs="String">
				<value>http://50.18.50.76/WS4GTTV2/BookingWS.asmx</value>
			</setting>
			<!--本地测试使用-->
			<setting name="Terms_Contract_Business_0407_TermsComm_CommService" serializeAs="String">
				<value>http://72.167.39.35/TermsCommWS/CommService.asmx</value>
			</setting>
			<!--122网站使用-->
			<!--<setting name="Terms_Contract_Business_0407_TermsComm_CommService" serializeAs="String">
				<value>http://10.0.0.1:10010/CommService.asmx</value>
			</setting>-->			
		</Terms.Contract.Business_0407.Properties.Settings>
		<Terms.Material.Service.Properties.Settings>
			<setting name="Terms_Material_Service_GTA_GTA" serializeAs="String">
				<value>http://208.109.243.30:12002/gta.asmx</value>
			</setting>
			<setting name="Terms_Material_Service_B2B_B2BWebService" serializeAs="String">
				<value>http://search.api.turbott.com/WS4GTTV1/B2BWebService.asmx</value>
			</setting>
			<setting name="Terms_Material_Service_GTTCMS_CMSWS" serializeAs="String">
				<value>http://search.api.turbott.com/SearchFare/GTTCMS.asmx</value>
			</setting>
			<setting name="Terms_Material_Service_AIM_AIM" serializeAs="String">
				<value>http://ccauthorize.majestic-vacations.com/AIM.asmx</value>
			</setting>
			<setting name="Terms_Material_Service_GTTMember_CMSWS" serializeAs="String">
				<value>http://search.api.turbott.com/SearchFare/GTTCMS.asmx</value>
			</setting>
			<setting name="Terms_Material_Service_Vehcile_CarRental" serializeAs="String">
				<value>http://72.167.39.35/CarSearchEngine/CarRental.asmx</value>
			</setting>
			<!-- Wspan & Sabre WS-->
			<setting name="Terms_Material_Service_GTT_BookingWS" serializeAs="String">
				<value>http://50.18.50.76/WS4GTTV2/BookingWS.asmx</value>
			</setting>
			<setting name="Terms_Material_Service_EANWS_EanWS" serializeAs="String">
				<value>http://208.109.243.30:12001/eanws.asmx</value>
			</setting>
			
		</Terms.Material.Service.Properties.Settings>
		<Terms.Sales.Service.Properties.Settings>
			<setting name="Terms_Sales_Service_InsuranceClenit_InsuranceWS"
						  serializeAs="String">
				<value>http://insurancews.majestic-vacations.com/InsuranceWS.asmx</value>
			</setting>
		</Terms.Sales.Service.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<!--<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="ProductSessionFactory"/>
		<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="CommonSessionFactory"/>
		<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="SalesSessionFactory"/>
		<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="BaseSessionFactory"/>
		<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="ProductSessionFactory"/>-->
		<!--调用搜索引擎的账号和密码 -->
		<!--<add key="WSLoginID" value="Hydeo"/>
		<add key="WSPassword" value="6502"/>-->
		<add key="WSLoginID" value="test1"/>
		<add key="WSPassword" value="test1"/>
		<add key="QueueNo" value="39"/>
		<add key="PNRRefNumber" value="MV"/>
		<!--Case Number的前缀 -->
		<add key="CaseNumberPrefix" value="M"/>
		<!--<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="BaseSessionFactory"/>-->
		<!-- GTA -->
		<add key="GTA.RequestURL" value="https://interface.gta-travel.com/gtaapi/RequestListenerServlet"/>
		<add key="GTA.AsynchronousResponseURL" value="http://192.168.100.62:10001/GTA.asmx"/>
		<!--GTTHotel-->
		<add key="GTTHotel.DataBase.ExcelPath" value="d:\\import.xls"/>
		<add key="GTTHotel.DataBase.TermsBase" value="server=SERVER161\SERVER161_TEST;database=TERMS_BASE_demo;User ID=sa;Password=Ceoaaa45;"/>
		<add key="GTTHotel.DataBase.TermsContract" value="server=SERVER161\SERVER161_TEST;database=TERMS_CONTRACT_demo;User ID=sa;Password=Ceoaaa45;"/>
		<add key="GTTHotel.DataBase.HotelRoomType" value="HotelRoomType"/>
		<add key="GTTHotel.DataBase.HotelRoomLevel" value="HotelRoomLevel"/>
		<add key="GTTHotel.DataBase.BreakfastStyle" value="BreakfastStyle"/>
		<!-- Error Send Email -->
		<add key="ErrorFromAddress" value="MVError@majestic-vacations.com"/>
		<add key="ErrorToAddress" value="jchen@majestic-vacations.com"/>
		<add key="ErrorEmailPath" value="~/Config/ErrorEmail.xml"/>
		<!-- GTA Transfer -->
		<add key="OrderCurrency" value="USD"/>
		<add key="OrderCancelSafeDay" value="7"/>
		<!--For Search WebService-->
		<add key="CMS_USERNAME" value="MV"/>
		<add key="CMS_PASSWORD" value="RX5cf13CG3lxIkGqDZ5LSw=="/>
		<!-- WorldSpanAccount-->
		<add key="Host" value="xmlpro.worldspan.com"/>
		<add key="Port" value="443"/>
		<add key="UserID" value="usagateway"/>
		<add key="Password" value="usagateway0000"/>
		<add key="Session" value="W1XML"/>
		<add key="PCC" value="V85"/>
		<add key="PDFDownloadPath" value="http://v1.majestic-vacations.com/Flyer/"/>
		<!-- ImageURL-->
		<add key="URL.Head" value="http://localhost:19876/Terms.Web/"/>
		<!-- Insurance-->
		<add key="AIG.UserCode" value="TERMS"></add>
		<add key="AIG.Password" value="TERMS"></add>
		<add key="AIG.Insurance.Urlp4" value="http://insuranceWS.majestic-vacations.com/pdf/P4CT.pdf"></add>
		<add key="AIG.Insurance.Urlp3" value="http://insuranceWS.majestic-vacations.com/pdf/P3CT.pdf"></add>
		<add key="AIG.Insurance.Urlp5" value="http://insuranceWS.majestic-vacations.com/pdf/P5CT.pdf"></add>
		<add key="AIG.Insurance.Urlp2" value="http://insuranceWS.majestic-vacations.com/pdf/P2CT.pdf"></add>
		<add key="AIG.Insurance.Urlp1" value="http://insuranceWS.majestic-vacations.com/pdf/P1CT.pdf"></add>
		<add key="AIG.Insurance.Urlp6" value="http://insuranceWS.majestic-vacations.com/pdf/P6CT.pdf"></add>
		<!-- City & Airport List -->
		<add key="TERM_CITY_LIST_XML_PATH" value="E:\\VSS2005\\2005Work\\01 开发资料\\01 Source\\Terms_MV_App\\MV_B2C\\Config\\TERMSCity.xml"/>
		<add key="TERM_AIRPORT_LIST_XML_PATH" value="E:\\VSS2005\\2005Work\\01 开发资料\\01 Source\\Terms_MV_App\\MV_B2C\\Config\\TERMSAirport.xml"/>

		<!-- Air Flags-->
		<add key="IsOpenAllFareTypeAir"  value="true"/>
		<add key="IsOnlyShowPubFareTicket"  value="true"/>
		<add key="HasMajorAirlinesForAvailable"  value="true"/>
		<add key="HasMajorAirlinesForSelect"  value="true"/>
		<add key="IsAvailableOnly"  value="false"/>


		<!-- Default Member-->
		<add key="CommonChannel" value="200804200003300"/>
		<add key="MAX_MATRIX_COUNT_SHORT" value="7"/>
		<add key="PAGESIZE_FLIGHT" value="24"/>
		<add key="LITTLE_LARGER_EDGE" value="50"/>
		<add key="LITTLE_EDGE" value="5"/>

		<add key="ForbiddenAirport" value="LOS,ACC,ABV,PHC,ROB,DAR,NBO,COO"/>

		<!-- SSL -->
		<add key ="SslPort" value ="443"/>
		<add key ="EnableSsl" value ="false"/>

		<!-- Google Map Key -->
		<add key ="MapKey" value ="ABQIAAAAY7wq7kKO1s5VynyXsPIR6hS7CYi1R06E179lR-_d2KTZpzio5RR2Y3slhn4-NxSEJm-E5djjsA7r_g"/>

		<!-- Is shield errors-->
		<add key="ShieldError" value="false"/>

		<!-- AIM -->
		<add key="AIM_Flag" value="false"/>
		<add key="AIM_Username" value="MJV-B2C"/>
		<add key="AIM_Password" value="MJV-B2C"/>
		<add key="AIM_AccountName" value="MJV"/>
		<add key="AIM_Test_Pirce" value="0.8"/>
		<add key="AIM_Service_Fee" value="0.04"/>

		<!-- Invoice -->
		<add key="Invoice_Flag" value="false"/>


		<!-- GTT Member -->
		<add key="AccessID" value="MJV"/>
		<add key="AccessPwd" value="TRDI+Y62zrZUboIaiUN+gAleLe7S3m7N"/>

		<add key="BranchEmail" value="~/Config/BranchEmail.xml"/>

		<!--GTTCMS Back Url-->
		<add key="CMSReserveUrl" value="http://12.51.4.143:7004/GTTCMS.asmx"/>

		<!-- IS GTT -->
		<add key="Gttglobal_Flag" value="false"/>

		<add key="HiddenCreditCardAirline" value="UA"/>

		<!--设置是否强制订购P2保险,以及需要强制订购P2保险的TourCode-->
		<add key="TourBookingInsurance" value="true"/>
		<add key="BookingInsuranceTourCode" value="Asia"/>
	</appSettings>
	<system.web>
		<!--<trust level="Medium"/>-->
		<!--<globalization uiCulture="en-US" culture="en-US" />-->

		<httpModules>
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
			<add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate12"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<httpHandlers>
			<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
		</httpHandlers>
		<trace enabled="false" requestLimit="200" pageOutput="false" traceMode="SortByTime" localOnly="true" writeToDiagnosticsTrace="true"/>
		<!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="spring" namespace="Spring.Web.UI.Controls" assembly="Spring.Web"/>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
				<add tagPrefix="uc1" src="~/UserControls/Header.ascx" tagName="Header"/>
				<add tagPrefix="uc2" src="~/UserControls/footer.ascx" tagName="Footer"/>
				<add tagPrefix="uc2" src="~/UserControls/footerPackage.ascx" tagName="FooterP"/>
				<add tagPrefix="uc4" src="~/Page/Flight/Module/PageNumber.ascx" tagName="PageNumber"/>
				<add tagPrefix="uc5" src="~/Page/Flight/Module/ItineraryInfo.ascx" tagName="ItineraryInfo"/>
				<add tagPrefix="uc5" src="~/UserControls/CurrentItineraryControl.ascx" tagName="CurrentItineraryControl"/>
				<add tagPrefix="uc5" src="~/UserControls/TourItineraryControl.ascx" tagName="TourItineraryControl"/>
				<add tagPrefix="uc5" src="~/UserControls/TourMainInfoControl.ascx" tagName="TourMainInfoControl"/>
				<add tagPrefix="uc5" src="~/UserControls/SendEmailTourControl.ascx" tagName="SendEmailTourControl"/>
				<add tagPrefix="uc5" src="~/UserControls/StatesControl.ascx" tagName="StatesControl"/>
				<add tagPrefix="TermsCalender" src="~/UserControls/Calendar.ascx" tagName="TermsCalendar"/>
			</controls>
		</pages>
		<!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
		<!--The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.-->
		<customErrors mode="Off" defaultRedirect="~/ErrorPages/GenericErrorPage.htm">
			<error statusCode="403" redirect="~/ErrorPages/NoAccessErrorPage.htm"/>
			<error statusCode="404" redirect="~/ErrorPages/FileNotFoundErrorPage.htm"/>
		</customErrors>
		<sessionState mode="InProc" timeout="20"></sessionState>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<!--<jsonSerialization maxJsonLength="500000000"></jsonSerialization>-->
	</system.webServer>
	<AppConfiguration>
		<add key="Web.EnableSsl" value="False"/>
		<add key="SendEmailReally" value="False"/>
		<add key="Web.Ssl.Port" value="800"/>
		<add key="SendMailAmountRecordCycle" value="24"/>
		<add key="RequestPageAmountRecordCycle" value="60"/>
		<add key="LogPath" value="LOG"/>
	</AppConfiguration>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="299999">
				</jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>


	<!--<system.codedom>
    <compilers>
      <compiler
      language="c#;cs;csharp"
      extension=".cs"
      type="Microsoft.CSharp.CSharpCodeProvider"
      compilerOptions="/doc:c:\XMLDOCS2.xml"
      warningLevel="1" />
    </compilers>
  </system.codedom>-->

</configuration>
