/* CSS Document */
body{margin:0 auto;padding:0; text-align:center;}

/* -----------Header Style-------------- */
.header{
        width:920px; 
		margin:0 auto;
		padding:0;
		height:80px;>height:79px;
		border-bottom: solid 2px #E81300;
		}
.logo{float:left; width:290px; margin:25px 0 0 0; height:50px;}

/*header right u-(up) s-(sub)*/
.head_r_u{float:right; width:466px; margin:22px 0 5px 0;}
.head_r_u ul{list-style:none; margin:0; padding:0; float:right;}
.head_r_u ul li{float:left;padding:0 6px; text-align:left; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; height:12px;border-left:solid 1px #999}
.head_r_u a:link, .head_r_u a:visited{color:#CC0000; text-decoration:none;}
.head_r_u ul li a:hover{color:#CC0000; text-decoration:underline;}

.font_blackB{float:left;font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000; font-weight:bold; margin:0 6px 0 0}

.head_r_s{
          float:right;
		  width:603px; 
		  font-family:Verdana, Arial, Helvetica, sans-serif; 
		  text-align:center;
		  margin:0;
		  height:39px;
		  }
.head_r_s a{
	background:url(../images/v2/h_off_m.gif);
	height:39px;
	color:#000000;
	margin:0 0 0 5px;
	float:left;
	text-decoration:none;
	font-weight:bold;
	height:39px;
	font-size:14px;
	line-height:16px;
	
}
.head_r_s a:hover {
	background:url(../images/v2/h_off_m.gif);
	margin:0 0 0 5px;
	color:#CC0000;
	cursor:pointer;
}
.head_r_s a span {
    display: block;
	height:39px;
	background:url(../images/v2/h_off_r.gif) no-repeat top right;
	float:left;
	text-decoration:none;
	padding:0 10px 0 9px ;
}
.head_r_s a:hover span {
	background:url(../images/v2/h_off_r.gif) no-repeat top right;
}

.line1{position:relative; top:30%; margin:0 2px}

/* ------------Footer Style-------------- */
.footer_top{width:920px; margin:0 auto; padding:0; border-top:solid 10px #FFFFFF;}
.footer{width:920px; margin:0 auto; padding:0; border-top:solid 2px #FE7900;}
.footer_l{float:left;margin:0 10px 0 0px; vertical-align:top;}
.footer_l img{float:left;margin:24px 5px;}
.footer_r{float:left; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px; color:#999; padding:12px 0 0 0;margin:0 0px 0 0; width:600px;}
.footer_r ul{list-style:none; margin:0 0 5px 0;padding:0;}
.footer_r ul li{float:left; padding:0 4px; border-right:solid 1px #999; margin:0 0 4px 0;}
.footer_r a:link, .footer_r a:visited{color:#000; text-decoration:none;}
.footer_r a:hover{color:#F86500;}
.lastitem{border-right: none!important;}
.copyright{
           display:block;
		   padding:5px 0 0 5px;
		   }
/* ------------´ú¸Õ¨Ï¥Î-------------- */
a.header_on {  font-size: 12px; line-height: 16px; color: #FFFFFF; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.header_on:hover {  font-size: 12px; line-height: 16px; color: #FFFF00; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.header_off {  font-size: 12px; line-height: 16px; color: #000000; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.header_off:hover {  font-size: 12px; line-height: 16px; color: #FF3300; text-decoration: none; font-family: Verdana; font-weight: bold;}
table.T_search   { background: #FE7900; border: 0;}
table.T_sale   { background: #CCCCCC; border: 0;}
table.T_rec   { background: #FFFECC; border: 0;}

table.T_sale01   { font-size: 10px; line-height: 12px; color: #000000; font-family: Verdana;}
table.T_table   { font-size: 11px; line-height: 19px; color: #000000; font-family: Verdana;}


table.T_order  { background: #8E8C88; font-size: 9px; line-height: 12px; color: #000000; font-family: Verdana; height: 20;}

table.T_line01   { background: #FF3300; font-size: 16px; line-height: 20px; color: #FFFFFF;  font-family: Arial; font-weight: bold;}
table.T_line02   { background: #CC0000; border: 0;}
table.T_line03   { background: #CC0000; font-size: 11px; line-height: 13px; color: #FFFFFF;  font-family: Arial; font-weight: bold;}

table.T_step0l   { background: #FD4C00; border: 0;}
table.T_step02   { background: #999999; border: 0;}
table.T_step03   { background: #CCCCCC; border: 0;}

tr.R_step01  { background-image: url(../images/v2/bg_s01.gif); font-size: 10px; line-height: 12px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
tr.R_step06  { background-image: url(../images/v2/bg_s03.gif); font-size: 10px; line-height: 12px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
tr.R_step02  { background: #EAEAEA;}
tr.R_step03  { background-image: url(../images/v2/bg_s03.gif); font-size: 11px; line-height: 13px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
tr.R_step05  { font-size: 11px; line-height: 13px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
tr.R_step04  { background-image: url(../images/v2/bg_s04.gif);}
tr.R_stepbox  { background: #FFFFFF; font-size: 9px; line-height: 12px; color: #000000; font-family: Verdana;}
td.D_stepto  { background: #FFFFFF; font-size: 9px; line-height: 12px; color: #F85000; font-family: Verdana;}
td.D_steptf  { background: #FFFFFF; font-size: 9px; line-height: 12px; color: #777777; font-family: Verdana;}
td.D_stepon  { background: #F85000;}
td.D_stepof  { background: #CCCCCC;}
tr.R_stepw  { background: #FFFFFF;}
tr.R_stepg  { background: #E9E9E9;}
tr.R_stepo  { background: #FDF1C1;}
td.D_stepb  { color: #FF6600; font-family: Verdana; font-weight: bold;}
td.D_stepr  { color:#000000; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold;}
td.D_stepg  { color:#000000; font-size: 9px; line-height: 18px; font-family: Verdana;}
td.D_stepl  { background: #CCCCCC;}

tr.R_header  { background-image: url(../images/v2/h_bg_off.gif); font-size: 11px; line-height: 12px; color: #999999; font-family: Verdana; height: 20;}
tr.R_search  { background-image: url(../images/v2/en_mid.gif); font-size: 9px; line-height: 12px; color: #000000; font-family: Verdana; height: 20;}
tr.R_order  { background-image: url(../images/v2/bg_01.gif); height: 25; color: #000000; font-family: Verdana; font-weight: bold;}
tr.R_order04  { height: 25; color: #000000; font-family: Verdana; font-weight: bold;}
tr.R_order03  { background-image: url(../images/v2/bg_s03.gif); height: 25; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
tr.R_order01  { background-color: #FFFFFF; height: 25;}
tr.R_order02  { background-color: #E9E9E9; height: 25;}
tr.R_top  { font-size: 9px; line-height: 14px; color: #CC0000; font-family: Verdana;}
td.D_order  { background-image: url(../images/v2/bg_01.gif); height: 25; color: #000000; font-family: Verdana; font-weight: bold;}

td.D_header  { background-image: url(../images/v2/h_bg_on.gif);}
td.D_search_on  { background-image: url(../images/v2/en_on_m.gif); height: 26;  font-size: 12px; line-height: 26px; color: #FF3300; font-family: Verdana; font-weight: bold;}
td.D_search_off  { background-image: url(../images/v2/en_off_m.gif); height: 26;  font-size: 12px; line-height: 26px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
td.D_search_top  { background-image: url(../images/v2/en_top.gif); height: 26;}
td.D_title  { background-image: url(../images/v2/title.gif); height: 45;  font-size: 18px; line-height: 36px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
td.D_title1  { background-image: url(../images/v2/title01.gif); height: 45;  font-size: 18px; line-height: 36px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
td.D_head  { background-color: #FF3600; height: 124; color:#FFFFFF; font-size: 26px; line-height: 51px; font-family: arial; font-weight: bold;}
td.D_head1  { height: 124; color:#FFFFFF; font-size: 26px; line-height: 51px; font-family: arial; font-weight: bold;}

a.search_off { color: #FFFFFF; text-decoration: none;}
a.search_off:hover { color: #FFFF00; text-decoration: none;}
.search_btn   { font-size: 13px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 22px; width:100px; background-color: white; padding: 0 0 2px 0; margin:10px 0 10px 0; border-color: #FD9845; background-image: url(../images/v2/btn_bg.gif)}
.search_btn01 { font-size: 11px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 16px; width:80px; background-color: white; padding: 0 0 2px 0; margin:5px 0 5px 0; border-color: #FD9845; background-image: url(../images/v2/btn_bg.gif)}
.search_btn02 { font-size: 13px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 22px; width:100px; background-color: white; padding: 0 0 2px 0; margin:0px 0 0px 0; border-color: #FD9845; background-image: url(../images/v2/btn_bg.gif)}
.search_btn03 { font-size: 13px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 22px; width:100px; background-color: white; padding: 0 0 2px 0; margin:0px 0 0px 0; border-color: #FD9845; background-image: url(../images/v2/btn_bg1.gif)}
.search_btn04 { font-size: 13px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 22px; width:200px; background-color: white; padding: 0 0 2px 0; margin:0px 0 0px 0; border-color: #FD9845; background-image: url(../images/v2/btn_bg1.gif)}
.search_btn05 { font-size: 13px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 22px; width:200px; background-color: white; padding: 0 0 2px 0; margin:0px 0 0px 0; border-color: #FD9845; background-image: url(../images/v2/btn_bg.gif)}


.search_inp {	font-size: 10px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #FD9647; width:100px; color: #000000; margin:2px 0 0 0;}
.search_inp1 {	font-size: 10px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #FD9647; width:15px; color: #000000; margin:2px 0 0 0;}
.search_inp2 {	font-size: 10px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #FD9647; width:200px; color: #000000; margin:2px 0 0 0;}
.search_sle { font-size: 10px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #FD9647; width:120px; color: #000000; margin:2px 0 0 0;}
.search_sle1 { font-size: 10px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #FD9647; color: #000000; margin:3px 0 0 0;}
.search_sle2 { font-size: 10px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #FD9647; width:80px; color: #000000; margin:3px 0 0 0;}
.search_sle3 { font-size: 10px; font-family: Verdana; width:500px; color: #000000; margin:3px 0 0 0;}

.search_b {  font-weight: bold; color: #FF3300;}
input, option, select, textarea       { font-size: 10px; font-family: Verdana; color: #000000; margin:3px 0 0 0;}
/* ------------temp-------------- */
.head01{ color:#FF3300; font-size: 16px; line-height: 20px; font-family: Verdana; font-weight: bold;}
.head02{ color:#000000; font-size: 12px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.head03{ color:#FF3300; font-size: 12px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.head04{ color:#CC0000; font-size: 12px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.head05{ color:#CC0000; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold;}
.head06{ color:#FF3300; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold;}
.head07{ color:#FF3300; font-size: 12px; line-height: 20px; font-family: Verdana; font-weight: bold;}
.head08{ color:#FF6600; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold;}
.head09{ color:#FF6600; font-size: 12px; line-height: 20px; font-family: Verdana; font-weight: bold;}
.head10{ color:#FF9900; font-size: 14px; line-height: 20px; font-family: Arial; font-weight: bold;}

.txt01{ color:#CC0000; font-size: 10px; line-height: 14px; font-family: Verdana; font-weight: bold;}
.t01{ color:#FF3300; font-size: 10px; line-height: 14px; font-family: Verdana;}
.t02{ color:#FF3300; font-size: 11px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.t03{ color:#FFFFFF; font-size: 11px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.t04{ color:#000000; font-size: 9px; line-height: 16px; font-family: Verdana;}
.t05{ color:#CC0000; font-size: 11px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.t06{ color:#005599; font-size: 11px; line-height: 16px; font-family: Verdana; font-weight: bold;}
.t07{ color:#FF3300; font-size: 10px; line-height: 14px; font-family: Verdana; font-weight: bold;}
.t08{ color:#666666; font-size: 9px; line-height: 16px; font-family: Verdana;}
.t09  { color:#000000; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold;}
.t10  { color:#005599; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold;}
.t11  { color:#FF3300; font-size: 15px; line-height: 20px; font-family: Arial; font-weight: bold;}
.t12  { color:#FF3300; font-size: 10px; line-height: 18px; font-family: Verdana; font-weight: bold;}
.t15  { color:#000000; font-size: 13px; line-height: 22px; font-family: Arial; }

.call{ color:#FF6600; font-size: 20px; line-height: 24px; font-family: Verdana; font-weight: bold;}
.tour-list_price{ color:#FF3300; font-size: 36px; line-height: 36px; font-family: Verdana; font-weight: bold;}

a.d01 {  font-size: 10px; line-height: 14px; color: #005599; text-decoration: none; font-family: Verdana;}
a.d01:hover {  font-size: 10px; line-height: 14px; color: #FF3300; text-decoration: none; font-family: Verdana;}
a.d02 {  font-size: 10px; line-height: 20px; color: #CC0000; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.d02:hover {  font-size: 10px; line-height: 20px; color: #CC0000; text-decoration: underline; font-family: Verdana; font-weight: bold;}
a.d03 {  font-size: 10px; line-height: 20px; color: #005599; text-decoration: none; font-family: Verdana;}
a.d03:hover {  font-size: 10px; line-height: 20px; color: #FF3300; text-decoration: none; font-family: Verdana;}
a.d04 {  font-size: 10px; line-height: 14px; color: #005599; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.d04:hover {  font-size: 10px; line-height: 14px; color: #005599; text-decoration: underline; font-family: Verdana; font-weight: bold;}
a.d05 {  font-size: 10px; line-height: 20px; color: #CC0000; text-decoration: underline; font-family: Verdana; font-weight: bold;}
a.d05:hover {  font-size: 10px; line-height: 20px; color: #CC0000; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.d06 {  font-size: 10px; line-height: 18px; color: #005599; text-decoration: underline; font-family: Verdana; font-weight: bold;}
a.d06:hover {  font-size: 10px; line-height: 18px; color: #FF3300; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.d07 {  font-size: 10px; line-height: 18px; color: #005599; text-decoration: underline; font-family: Verdana;}
a.d07:hover {  font-size: 10px; line-height: 18px; color: #005599; text-decoration: none; font-family: Verdana;}
a.d08 {  font-size: 10px; line-height: 16px; color: #FF3300; text-decoration: none; font-family: Verdana;}
a.d08:hover {  font-size: 10px; line-height: 16px; color: #005599; text-decoration: none; font-family: Verdana;}
a.d09 {  font-size: 9px; line-height: 18px; color: #005599; text-decoration: underline; font-family: Verdana;}
a.d09:hover {  font-size: 9px; line-height: 18px; color: #005599; text-decoration: none; font-family: Verdana;}
a.d10 {  font-size: 10px; line-height: 16px; color: #000000; text-decoration: none; font-family: Verdana;}
a.d10:hover {  font-size: 10px; line-height: 16px; color: #FF3300; text-decoration: none; font-family: Verdana;}
a.d11 {  font-size: 15px; line-height: 19px; color: #005599; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.d11:hover {  font-size: 15px; line-height: 19px; color: #FF6600; text-decoration: none; font-family: Verdana; font-weight: bold;}
a.d12 {  font-size: 10px; line-height: 18px; color: #005599; text-decoration: none; font-family: Verdana;}
a.d12:hover {  font-size: 10px; line-height: 18px; color: #FF6600; text-decoration: none; font-family: Verdana;}
a.d13_tour-name {  font-size: 17px; font-weight: bold;line-height: 18px; color: #005599; text-decoration: none; font-family: arial;}
a.d13_tour-name:hover {  text-decoration: underline; }


tr.R_pop   { font-size: 10px; line-height: 14px; color: #CCCCCC; font-family: Verdana;}
tr.R_cost   { font-size: 10px; line-height: 14px; color: #000000; font-family: Verdana;}
.step{margin:5px 0 0 0; padding:3px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#777; height:16px;}
.step ul{margin:0;padding:0;list-style:none;float:right; }
.step ul li{float:left; display:block; border-top:solid 3px #ccc; padding:0 4px 0 4px; margin:0 0 0 2px;}
.step .stepon{border-top:solid 3px #f85000; color:#f85000;}

/*  add  */
.loading
{
background-image:url(../Images/v2/loading.gif);
background-repeat:no-repeat;
}
.changeitem{background:#E1F0FF;}

/* ------------tour-------------- */
.tour_price  { color:#000000; font-size: 12px; line-height: 22px; font-family: Arial; font-weight: bold;}
.tour_bold  { color:#000000; font-size: 11px; line-height: 19px; font-family: Verdana; font-weight: bold;}
.tour_bolds  { font-size: 9px; line-height: 13px; font-family: Verdana; font-weight: bold;}
.tour_day  { color:#FF9600; font-size: 16px; line-height: 22px; font-family: Arial; font-weight: bold;}
.tour_red  { color:#FF3300;}

table.tour   { font-size: 11px; line-height: 19px; color: #000000; font-family: Verdana;}
table.tour_note   { font-size: 9px; line-height: 15px; color: #444444; font-family: Verdana;}
table.price   { font-size: 9px; line-height: 13px; color: #000000; font-family: Verdana;}
tr.tour_top  { background-image: url(../images/v2/tour_top_bg.gif); height: 32;}
tr.tour_mid  { background-image: url(../images/v2/tour_mid_bg.gif);}
td.tour_on  { background-image: url(../images/v2/tour_top_on.gif); height: 32; color:#FF6600; font-size: 14px; font-family: Arial; font-weight: bold; padding:0 20px 0 20px;}
td.tour_off  { background-image: url(../images/v2/tour_top_off.gif);  height: 32; color:#000000; font-size: 14px; font-family: Arial; font-weight: bold; padding:0 20px 0 20px;}
td.tour_name01  { color:#FF6600; font-size: 22px; line-height: 22px; font-family: Arial; font-weight: bold;}
td.tour_name02  { color:#767676; font-size: 14px; line-height: 18px; font-family: Arial; font-weight: bold;}
td.tour_name03  { color:#000000; font-size: 14px; line-height: 18px; font-family: Arial; font-weight: bold;}
td.tour_show01  { color:#FF6600; font-size: 25px; line-height: 25px; font-family: Arial; font-weight: bold;}
td.tour_show03  { color:#000000; font-size: 16px; line-height: 22px; font-family: Arial; font-weight: bold;}
a.tour_link01 {  font-size: 22px; line-height: 22px; color: #FF6600; text-decoration: none; font-family: Arial; font-weight: bold;}
a.tour_link01:hover {  font-size: 22px; line-height: 22px; color: #FF6600; text-decoration: none; font-family: Arial; font-weight: bold;}
a.cruise_link01 {  font-size: 20px; line-height: 20px; color: #FF6600; text-decoration: none; font-family: Arial; font-weight: bold;}
a.cruise_link01:hover {  font-size: 20px; line-height: 20px; color: #FF6600; text-decoration: none; font-family: Arial; font-weight: bold;}
a.tour_link02 {  color: #000000; text-decoration: none;}
a.tour_link02:hover {  color: #FF6600; text-decoration: none;}
a.tour_link03 {  color: #005599; text-decoration: underline;}
a.tour_link03:hover {  color: #005599; text-decoration: none;}
.tour_link0411 a, .tour_link0411 a:link{color:#fff;}

.tour_price  { color:#000000; font-size: 12px; line-height: 22px; font-family: Arial; font-weight: bold;}
.tour_bold  { color:#000000; font-size: 11px; line-height: 19px; font-family: Verdana; font-weight: bold;}
.tour_bolds  { font-size: 9px; line-height: 13px; font-family: Verdana; font-weight: bold;}
.tour_day  { color:#FF9600; font-size: 16px; line-height: 22px; font-family: Arial; font-weight: bold;}
.tour_red  { color:#FF3300;}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}

.Watermark
{ 
	background-color:Gray; 
	color:#666666; 
} 


/*member log in*/
.IBE_package_step{ width:100%; float:left;color:#FF3300; font-size: 16px; line-height: 20px; font-family: Arial; font-weight: bold; margin:15px 0px 10px 0px;}
.IBE_package_step_T_line01{ background:#ff3300; font-size: 16px;width:20px; height:20px; color: #FFFFFF;  font-family: Arial; font-weight: bold; text-align:center; !important}
.left{ float:left;}
.IBE_confimMemberLogIn{width:712px; float:left; border:1px solid #999; background:#FDF1C1; padding:12px 8px;font-size: 11px; line-height: 19px; color: #000000; font-family: Verdana;}
.IBE_confimMemberLogIn_Bg{ width:710px; float:left; border:1px solid #ccc; background:#fff; padding:8px 0px;}
.IBE_confimMemberLogIn_signIn{ width:339px; float:left; margin-left:15px; display:inline; border-right:1px solid #ccc; font-size:12px; font-family:Arial;}
.IBE_confimMemberLogIn_signIn li{ width:100%; float:left; margin:1px 0px;}
.IBE_confimReviewOrder_Content_font1{color:#005599; font-size: 11px; font-family: Verdana; font-weight: bold;}
.IBE_meberLogin_font_a{ font-size: 9px; color: #005599; text-decoration: underline; font-family: Verdana;}
.IBE_package_List_dl_d09{font-size: 9px;  color: #005599; text-decoration: underline; font-family: Verdana;}


.IBE_R_stepw{ background: #FFFFFF;}
.IBE_T_step03   { background: #CCCCCC; border: 0; font-size:11px; font-family:Verdana;}
.IBE_YellowDIV_Right_travelContact_step4{ width:902px; border:1px solid #999; background: #FDF1C1; padding:16px 8px; float:left; font-size:11px;}
.IBE_YellowDIV_Right_inSide1_travelContact_step4{width:884px; border:1px solid #ccc; background:#fff; padding:8px; float:left;}

.IBE_T_font11   { font-size:11px; font-family:Verdana;}

.IBE_search_btn02 { font-size: 13px; font-family: Verdana; font-weight: bold; color: #FFFFFF; border: 0px solid; height: 22px; background-color: white; padding:0px 5px 2px 5px; border-color: #FD9845; background-image: url(../../images/v2/btn_bg.gif)}


.ResultMessage{border-right: #333333 1px solid; border-top: #333333 1px solid; border-left: #333333 1px solid;border-bottom: #333333 1px solid; background-color: #F0FB31}	
.msgHead {FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #800000; FONT-FAMILY: Arial}
.linkLeftNavy {CURSOR: pointer; COLOR: #3366cc; TEXT-DECORATION: underline}


/* -----------Booking CSS-------------- */
.booking_inp {	font-size: 12px; font-family: Verdana; background-color: #FFFFFF; border: 1px solid #999999; color: #000000; margin:2px 0 0 0; !important} /* ------------?hange Color-------------- */
.booking_btn { font-size: 12px; font-family: Verdana; font-weight: bold; color: #000000; border: 0px solid; height: 24px; width:102px; padding: 0px 0px 5px 0px; margin:10px 0px 0px 3px; background-image: url(../images/booking_btn.gif)}
a.d13 {  color: #005599; text-decoration: underline;}
a.d13:hover {  text-decoration: none;}
.t13{ color:#0055CC;}
.t14{ color:#666666; font-weight: bold;}
td.D_step  { background-image: url(../images/001/bg_s03.gif); font-size: 16px; color: #FFFFFF; font-family: Arial; font-weight: bold; padding-bottom:7px; padding-top:7px; padding-left:10px; !important} /* ------------?hange Color-------------- */
tr.R_stepw  { background: #FFFFFF;font-size: 11px; line-height: 18px; font-family:Verdana;}

/* -----------New tour CSS-------------- */
.table735  { width:735px; display:block;}

.tour-bn_01_on a{ width:106px; height:35px; float:left; padding-right:5px; background-image:url(../images/button_01_r.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #FFFFFF;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_01_on a:hover{ background-image:url(../images/button_01_r.gif); color: #ffffff}
.tour-bn_01_off a{ width:106px; height:35px; float:left; padding-right:5px; background-image:url(../images/button_01.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #333333;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_01_off a:hover{ background-image:url(../images/button_01_r.gif); color: #ffffff}

.tour-bn_02_on a{ width:175px; height:35px; float:left; padding-right:5px; background-image:url(../images/button_02_r.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #FFFFFF;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_02_on a:hover{ background-image:url(../images/button_02_r.gif); color: #ffffff}
.tour-bn_02_off a{ width:175px; height:35px; float:left; padding-right:5px; background-image:url(../images/button_02.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #333333;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_02_off a:hover{ background-image:url(../images/button_02_r.gif); color: #ffffff}

.tour-bn_03_on a{ width:187px; height:35px; float:left; padding-right:5px; background-image:url(../images/button_03_r.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #FFFFFF;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_03_on a:hover{ background-image:url(../images/button_03_r.gif); color: #ffffff}
.tour-bn_03_off a{ width:187px; height:35px; float:left; padding-right:5px; background-image:url(../images/button_03.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #333333;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_03_off a:hover{ background-image:url(../images/button_03_r.gif); color: #ffffff}

.tour-bn_04_on a{ width:106px; height:35px; float:right; background-image:url(../images/button_01_r.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #FFFFFF;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_04_on a:hover{ background-image:url(../images/button_01_r.gif); color: #ffffff}
.tour-bn_04_off a{ width:106px; height:35px; float:right; background-image:url(../images/button_01.gif); background-repeat:no-repeat; text-align:center;font-family: Arial, Verdana;color: #ff3300;font-size: 16px;line-height: 35px;font-weight: bold; text-decoration:none;}
.tour-bn_04_off a:hover{ background-image:url(../images/button_01_r.gif); color: #ffffff}

.table735_color-boder{ width:713px; display:block; float:left;border-width: 4px 1px 1px 1px; border-style: solid; border-color: #FF6811 #FBBB96 #FBBB96 #FBBB96; padding:10px}
.tour_tittle{ width:695px;background-color:#FFF7E9;border-width: 1px 0px 1px 0px; border-style: solid; border-color:#FBBB96; 	font-family: Arial, Verdana;font-size: 14px;line-height: 34px;font-weight: bold; color:#000; margin:10px 0px 10px 0px; padding-left:15px;text-align: left; }

.tour_note{ width:670px;background-color:#FFF7E9;background-image:url(../images/Icon_Warning.gif);background-repeat:no-repeat; border-width: 1px 1px 1px 1px; border-style: solid; border-color:#ff6600;font-family: Arial, Verdana;font-size: 12px;line-height: 34px;font-weight: bold; color:#000; margin:10px 0px 10px 0px;/*For Firefox*/*margin:20px 0px 10px 0px;/*For IE7 & IE6*/ padding-left:40px;text-align: left; }

.tour_content_intro{ width:710px; text-align: left;}
.tour_content_intro img{ float:left; padding-right:20px; padding-left:15px;}

.tour_content{ width:710px; text-align: left;}
.tour_content img{ display:block; padding:10px 0px 10px 0px;}



.tour_content_point{ width:710px; text-align: left;}

.tour_content_h{ width:710px;font-family: Arial, Verdana;font-size: 12px;line-height:14px;font-weight: bold; padding-top:3px; }
.tour_content_h img{  padding-right:5px;}

tr.R_step01-1  { background-image: url(../images/v2/bg_s01.gif); font-size: 12px; line-height: 12px; color: #FFFFFF; font-family: Verdana; font-weight: bold;}
td.D_stepb-1  { color: #FF6600; font-family: Verdana; font-weight: bold;font-size: 12px; height:15px;}
tr.R_stepbox-1  { background: #FFFFFF; font-size: 11px; line-height: 16px; color: #000000; font-family: Verdana;}
.t11-1  { color:#FF3300; font-size: 18px; line-height: 20px; font-family: Arial; font-weight: bold;}

a.tour_12b_o {  text-decoration:none; color:#ff6600; font-size:12px;font-weight: bold;}
a.tour_12b_o:hover {  text-decoration: underline; }

a.tour_11_b {  text-decoration:none; color:#005599; font-size:11px;}
a.tour_11_b:hover {  text-decoration: underline; }


.tour_price-table-t{width:150px; font-family: Arial, Verdana;font-size: 12px;line-height: 34px;font-weight: bold; text-align:center; float:left; border-width: 0px 1px 0px 0px; border-style: solid; border-color:#CCCCCC;
}
/* -----------New tour pagebar-------------- */

#pagebar{float:left;width:717px;}
#pagebar1{float:left;width:717px;}
#pagenumber{float:right;margin:8px 0 0 0;padding:0 0 0 ; display:block; width:51px;height:21px; background:url(../images/page_back.gif) no-repeat;text-decoration:none;line-height: 21px; text-align:center;}
#pagenumber a{text-decoration:none;}


#pagetittle{float:left;width:340px;margin:0;padding:0;font-size: 15px; line-height: 34px; color: #000; font-family: Arial;Verdana; font-weight: bold;}
.page{float:right;width:210px;margin:0;padding:8px 0 0 0;}
.page ul{list-style:none;margin:0;padding:0;width:100%;}
.page ul li{display:block;margin:0;padding:0;float:left;}
.page ul li span{display:block;margin:0 2px 0 0;padding:0;color:#999;}
.page ul li a,.page ul li a:link,.page ul li a:visited,.page ul li a:active{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px;background:url(../images/page_01.gif) no-repeat;text-decoration:none;color:#0555AF;}
.page ul li a:hover{width:21px;height:21px;background:url(../images/page_02.gif) no-repeat;}
.page ul li a.current,.page ul li a.current:link,.page ul li a.current:visited,.page ul li a.current:active,.page ul li a.current:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_02.gif) no-repeat;text-decoration:none;color:#000;}
.page ul li a.first,.page ul li a.first:link,.page ul li a.first:visited,.page ul li a.first:active,.page ul li a.first:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_f_01.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.firstno,.page ul li a.firstno:link,.page ul li a.firstno:visited,.page ul li a.firstno:active,.page ul li a.firstno:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_f_01.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.prev,.page ul li a.prev:link,.page ul li a.prev:visited,.page ul li a.prev:active,.page ul li a.prev:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_f_02.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.prevno,.page ul li a.prevno:link,.page ul li a.prevno:visited,.page ul li a.prevno:active,.page ul li a.prevno:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_f_02.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.next,.page ul li a.next:link,.page ul li a.next:visited,.page ul li a.next:active,.page ul li a.next:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_b_02.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.nextno,.page ul li a.nextno:link,.page ul li a.nextno:visited,.page ul li a.nextno:active,.page ul li a.nextno:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px; background:url(../images/page_b_02.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.last,.page ul li a.last:link,.page ul li a.last:visited,.page ul li a.last:active,.page ul li a.last:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21px;background:url(../images/page_b_01.gif) no-repeat;text-decoration:none;color:#FFF;}
.page ul li a.lastno,.page ul li a.lastno:link,.page ul li a.lastno:visited,.page ul li a.lastno:active,.page ul li a.lastno:hover
{display:block;margin:0 2px 0 0;padding:1px 0 0 0;font-size:.9em;text-align:center;letter-spacing:.005ex;width:21px;height:21pxbackground:url(../images/page_b_01.gif) no-repeat;text-decoration:none;color:#FFF;}


